{% extends "base.html" %}
{% block content %}
    <h1>{{ _('Agregar Nuevo Término') }} (Idioma: {{ lang | upper }})</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">{{ form.codigo.label }} {{ form.codigo(class="form-control") }}</div>
        <div class="form-group">{{ form.termino.label }} {{ form.termino(class="form-control") }}</div>
        <div class="form-group">{{ form.categoria.label }} {{ form.categoria(class="form-control") }}</div>
        <div class="form-group">{{ (form | attr('term_' + lang)).label }} {{ (form | attr('term_' + lang))(class="form-control") }}</div>
        <div class="form-group">{{ (form | attr('ejemplo1_' + lang)).label }} {{ (form | attr('ejemplo1_' + lang))(class="form-control") }}</div>
        <div class="form-group">{{ (form | attr('ejemplo2_' + lang)).label }} {{ (form | attr('ejemplo2_' + lang))(class="form-control") }}</div>
        <div class="form-group">{{ form.fuente.label }} {{ form.fuente(class="form-control") }}</div>
        <div class="form-group">{{ form.observacion.label }} {{ form.observacion(class="form-control") }}</div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}